:root {
    --background-color-bright: #495057;
    --background-color-dark: #212529;
    --footer-background-color: #252422;
    --header-background-color: #adb5bd;

    --text-color: white;

    --ice-color-primary: #ade8f4;
    --ice-color-secondary: #48cae4;
    --ice-color-tertiary: #0077b6;

    --fire-color-primary: #c9551f;
    --fire-color-secondary: #b5821b;
    --fire-color-tertiary: #c32f27;
}

/* Fonts */
@font-face {
    font-family: 'Jacquard';
    src: url('../fonts/Jacquard12-Regular.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'GNF';
    src: url('../fonts/GNF\ TTF.ttf') format('truetype');
}

body {
    margin: 0;
    color: var(--text-color);
}

h1,h2,h3,h4 {
    font-family: 'Jacquard', serif;
}

h1 {
    text-align: center;
    font-size: 6rem;
    margin: 0;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

p, a {
    font-size: 1.3rem;
    font-family: 'GNF', serif;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* Page elements */
header {
    background: 
        url('../i/Bricks_diffuse.webp') center / contain,
        linear-gradient(var(--background-color-bright), var(--background-color-dark));
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    position: sticky;
    top: 0;
    z-index: 3;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 50vw;
}

header > a > img {
    max-width: 4rem;
}

header > nav a {
  top: 0;
  left: 0;
  transition: all .1s linear 0s;
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  background-color: gray;

  color: black;
  
  box-shadow: -6px 6px 0, -5px 5px 0, -4px 4px 0, -3px 3px 0, -2px 2px 0, -1px 1px 0 black;
  border-radius: 6px;
  text-decoration: none;   
}

header > nav a:hover {
    top: -2px;
    left: 2px;
    box-shadow: -8px 8px 0, -6px 6px 0, -4px 4px 0, -3px 3px 0, -2px 2px 0, -1px 1px 0 black;
}

header > nav a:active {
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0, -2px 2px 0, -1px 1px 0  black;
}

* {
    position: relative;
    z-index: 1;
}

main:not(.index) {
    padding: 2rem;
    min-height: 55vh;
}

.normal-section {
    background: 
        url('../i/Bricks_diffuse.webp') center / contain,
        linear-gradient(var(--background-color-bright), var(--background-color-dark));
    background-size: cover;
}

.ice-section {
    background: 
        url('../i/Ice_3_AmbientOcclusion.webp') center / contain,
        linear-gradient(#a5a5a6);
    background-size: cover;
}

.ice-section h1, .ice-section h2 {
    color: var(--ice-color-tertiary);
}

.ice-section h3, .ice-section h4, .ice-section p {
    color: var(--ice-color-secondary);
}

.fire-section {
    background: 
        url('../i/Dry_Lava_BaseColor.webp') center / contain,
        linear-gradient(var(--background-color-bright), var(--background-color-dark));
    background-size: cover;
}

.fire-section h1, .fire-section h2 {
    color: var(--fire-color-tertiary);
}

.fire-section h3, .fire-section h4, .fire-section p {
    color: var(--fire-color-secondary);
}

footer {
    display: flex;
    align-items: center;
    background-color: var(--footer-background-color);
    padding: 2rem;
}

footer > nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    min-width: fit-content;
}

/* ORDER */
.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.j-start {
    justify-content: start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: end;
}

.a-start {
    align-items: start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: end;
}

hr {
    height: 2vh;
    border: 0;
    background-color: rgb(93, 42, 6);
    margin: 0;
}

/* Colors */
    /* Normal */
    .dark-color {
        background-color: var(--background-color-dark);
    }

    .bright-color {
        background-color: var(--background-color-bright);
    }

    /* Ice */
    .primary-color-ice {
        background-color: var(--ice-color-primary);
    }

    .secondary-color-ice {
        background-color: var(--ice-color-secondary);
    }

    .tertiary-color-ice {
        background-color: var(--ice-color-tertiary);
    }

    /* Fire */
    .primary-color-fire {
        background-color: var(--fire-color-primary);
    }

    .secondary-color-fire {
        background-color: var(--fire-color-secondary);
    }

    .tertiary-color-fire {
        background-color: var(--fire-color-tertiary);
    }

/* SPACE IN BETWEEN */
.p-1 {
   padding: 1rem; 
}
.p-2 {
   padding: 2rem; 
}
.p-3 {
   padding: 3rem; 
}

.m-0 {
    margin: 0rem;
}

.m-1 {
   margin: 1rem; 
}
.m-2 {
   margin: 2rem; 
}
.m-3 {
   margin: 3rem; 
}

.g-1 {
   gap: 1rem; 
}
.g-2 {
   gap: 2rem; 
}
.g-3 {
   gap: 3rem;
}

/* Specific elements */
.thumbnail {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    height: 90vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-position-y: -10vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.light {
    background-image: url(../i/clear_sky.jpg);
}

.dark img.light {
    background-image: none;
    display: none;
}

.dark {
    background-image: url(../i/dark_sky.webp);
}

.light img.dark {
    background-image: none;
    display: none;
}

.thumbnail > img {
    max-width: 6rem;
    background-image: none;
}

.gourge {
    background: url(../i/gourge.webp);
    margin-top: 90vh;
    height: 8vh;
    background-size: contain;
    top: -8vh;
    position: relative;
    margin-bottom: -8vh;
}

.tier-1, .tier-2, .tier-3 {
    width: 20vw;
    box-shadow: 1vw 2vh 1rem var(--background-color-bright);
}

.tier-1 {
    height: 30vh;
    background-color: var(--ice-color-primary);
}

.tier-2 {
    height: 20vh;
    background-color: var(--ice-color-secondary);
}

.tier-3 {
    height: 15vh;
    background-color: var(--ice-color-tertiary);
}

.post-item {
    width: 80vw;
    height: 15vh;
    align-items: center;
    border: 20px double var(--fire-color-primary);
    background: 
        url('../i/Dry_Lava_BaseColor.webp') center / contain,
        linear-gradient(var(--background-color-bright), var(--background-color-dark));
}

.post-item > div {
    width: 80vw;
    height: 15vh;
}

.post-item::before {
    content: "·";
    color: var(--fire-color-primary);
    display: block;
    font-size: 10rem;
    text-align: right;
}