:root {
    --background-color-bright: #495057;
    --background-color-dark: #212529;
    --footer-background-color: #252422;
    --header-background-color: #adb5bd;

    --text-color: white;

    --ice-color-primary: #ade8f4;
    --ice-color-secondary: #48cae4;
    --ice-color-tertiary: #0077b6;

    --fire-color-primary: #c32f27;
    --fire-color-secondary: #eb6424;
    --fire-color-tertiary: #ffb627;
}

/* Fonts */
@font-face {
    font-family: 'Jacquard';
    src: url('../fonts/Jacquard12-Regular.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'GNF';
    src: url('../fonts/GNF\ TTF.ttf') format('truetype');
}

body {
    margin: 0;
    color: var(--text-color);
}

h1,h2,h3,h4 {
    font-family: 'Jacquard', serif;
}

h1 {
    text-align: center;
    font-size: 6rem;
    margin: 0;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

p, a {
    font-size: 1.3rem;
    font-family: 'GNF', serif;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* Page elements */
header {
    background-color: var(--header-background-color);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    position: sticky;
    top: 0;
}

header > a > img {
    max-width: 5rem;
}

main:not(.index) {
    padding: 2rem;
    min-height: 55vh;
}

.normal-section {
    background: 
        url('../i/Bricks_diffuse.webp') center / contain,
        linear-gradient(var(--background-color-bright), var(--background-color-dark));
}

.ice-section {
    background: 
        url('../i/Ice_3_AmbientOcclusion.webp') center / contain,
        linear-gradient(#b4b4b8);
}

.ice-section h1, .ice-section h2 {
    color: var(--ice-color-tertiary);
}

.ice-section h3, .ice-section h4, .ice-section p {
    color: var(--ice-color-secondary);
}

.fire-section {
    background: 
        url('../i/Dry_Lava_BaseColor.webp') center / contain,
        linear-gradient(var(--background-color-bright), var(--background-color-dark));
}

.fire-section h1, .fire-section h2 {
    color: var(--fire-color-tertiary);
}

.fire-section h3, .fire-section h4, .fire-section p {
    color: var(--fire-color-secondary);
}

footer {
    display: flex;
    align-items: center;
    background-color: var(--footer-background-color);
    padding: 2rem;
}

footer > nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    min-width: fit-content;
}

/* ORDER */
.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.j-start {
    justify-content: start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: end;
}

.a-start {
    align-items: start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: end;
}

hr {
    height: 2vh;
    border: 0;
    background-color: rgb(93, 42, 6);
    margin: 0;
}

/* Colors */
    /* Normal */
    .dark-color {
        background-color: var(--background-color-dark);
    }

    .bright-color {
        background-color: var(--background-color-bright);
    }

    /* Ice */
    .primary-color-ice {
        background-color: var(--ice-color-primary);
    }

    .secondary-color-ice {
        background-color: var(--ice-color-secondary);
    }

    .tertiary-color-ice {
        background-color: var(--ice-color-tertiary);
    }

    /* Fire */
    .primary-color-fire {
        background-color: var(--fire-color-primary);
    }

    .secondary-color-fire {
        background-color: var(--fire-color-secondary);
    }

    .tertiary-color-fire {
        background-color: var(--fire-color-tertiary);
    }

/* SPACE IN BETWEEN */
.p-1 {
   padding: 1rem; 
}
.p-2 {
   padding: 2rem; 
}
.p-3 {
   padding: 3rem; 
}

.m-0 {
    margin: 0rem;
}

.m-1 {
   margin: 1rem; 
}
.m-2 {
   margin: 2rem; 
}
.m-3 {
   margin: 3rem; 
}

.g-1 {
   gap: 1rem; 
}
.g-2 {
   gap: 2rem; 
}
.g-3 {
   gap: 3rem;
}

/* Specific elements */
.thumbnail {
    height: 85vh;
    background-image: url(/i/clear_sky.jpg);
    background-position-y: -15vh;
    background-size: cover;
    background-attachment: fixed;
}

.gourge {
    background: url(/i/gourge.webp);
    height: 8vh;
    top: -8vh;
    position: relative;
    margin-bottom: -8vh;
}

.tier-1, .tier-2, .tier-3 {
    width: 20vw;
    box-shadow: 1vw 2vh 1rem var(--background-color-bright);
}

.tier-1 {
    height: 30vh;
    background-color: var(--ice-color-primary);
}

.tier-2 {
    height: 20vh;
    background-color: var(--ice-color-secondary);
}

.tier-3 {
    height: 15vh;
    background-color: var(--ice-color-tertiary);
}

.post-item {
    width: 85vw;
}

.post-item > img {
    width: 10rem;
    height: 10rem;
}

.cafebutton {
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  background-color: gray;
  
  text-transform: uppercase;
  color: black;
  font-family: arial;
  letter-spacing: 1px;
  
  box-shadow: -6px 6px 0, -5px 5px 0, -4px 4px 0, -3px 3px 0, -2px 2px 0, -1px 1px 0 black;
  border-radius: 6px;
  text-decoration: none;   
}

.cafebutton:hover {
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0, -2px 2px 0, -1px 1px 0  black;
}